.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem  2rem;
    
}
nav{
    display: flex;
    align-items: center;
    gap: 20rem;
}
.logo{
    font-weight: 700;
    font-size: 2rem;
}


nav ul{
    display: flex;
    justify-content: space-between;
}

.SignupBtn:hover{
    background-color: rgb(48, 183, 183);
    transition: 0.5s ease;
}
.loginBtn:hover,
a:hover{
    color: rgb(48, 183, 183);
    transition: 0.5s ease;
}
.SignupBtn:focus{
    background-color: rgb(17, 100, 72);
}
.loginBtn:focus,
a:focus{
    color: rgb(17, 100, 72);
}
a{
    color: inherit;
    text-decoration: none;
    
}
nav ul li{
    list-style-type: none;
    cursor: pointer;
    padding: 0 10px;
}

.loginBtn{
    background: transparent;
    border: none;
    padding: 8px 20px;
}

.SignupBtn{
    background: black;
    border: none;
    padding: 8px 20px;
    color: white;
    border-radius: 35px;
}
.mobile-menu-icon{
    display: none;
    cursor: pointer;

}

@media screen and (max-width:767px){
    header{
        display: flex;
        
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
   .logo{
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 100000;
   }
    .nav-links{
        display: none;
    }
    .nav-link-mobile{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 250px;
        background-color:#fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
        z-index: 9988;
        padding-top: 2rem;
        list-style: none;
        transform: translateX(0);
        transition: transform 0.3s ease-in;
    }
    .mobile-menu-icon{
        display: block;        
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: self-start;
        padding: 40px;

        gap: 30px;
        font-weight: 700;
    }
    nav ul li{
        border-bottom: 1px solid ;
    }
    .headerbuttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .loginBtn{

        background: transparent;
        border: 1px solid #e0f7fa;
        padding: 15px 80px;
        border-radius: 40px;
    }
    
    .SignupBtn{
        background: black;
        border: none;
        padding: 15px 80px;
        color: white;
        border-radius: 40px;
    }
    .loginBtn:hover{
        background-color: rgb(48, 183, 183);
        color: #fff;
        transition: 0.5s ease;
    }
}
